@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/fonts/GeistMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://i.imgur.com/X36B5IB.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: overlay;
  object-fit: cover;
}

.App {
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .App {
      padding-left: 23px;
      padding-right: 23px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}